Importando as Bibliotecas e Criando o Dataset

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame({'animal': ['dog', 'cat', 'dog'], 'sexo': ['macho', 'femea', 'femea'], 'idade': [1, 2, 3]})
df

  animal   sexo  idade
0    dog  macho      1
1    cat  femea      2
2    dog  femea      3

Count

In [14]:
for variable in ['animal', 'sexo']:
    count_map = df[variable].value_counts().to_dict()
    df[variable] = df[variable].map(lambda x: count_map[x])

df

   animal  sexo  idade
0       2     1      1
1       1     2      2
2       2     2      3

Frequency

In [16]:
for variable in ['animal', 'sexo']:
    count_map = df[variable].value_counts().to_dict()
    var_sum = df[variable].shape[0]
    df[variable] = df[variable].map(lambda x: count_map[x] / var_sum)

df

     animal      sexo  idade
0  0.666667  0.333333      1
1  0.333333  0.666667      2
2  0.666667  0.666667      3

In [17]:
for variable in count_map:
    print(count_map[variable])

2
1