ESTRUTURAÇÃO DO PIPELINE

Importando as Bibliotecas e Criando o DataSet

In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame([(0.0, np.nan, -1.0, 1.0),
                    (np.nan, 2.0, np.nan, np.nan),
                    (2.0, 3.0, np.nan, 9.0),
                    (np.nan, 4.0, -4.0, 16.0)],
                    columns=list('abcd'))
df

     a    b    c     d
0  0.0  NaN -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [6]:
df.b = df.b.fillna(0)
df.d = df.d.fillna(df.d.mean())
df

     a    b    c          d
0  0.0  0.0 -1.0   1.000000
1  NaN  2.0  NaN   8.666667
2  2.0  3.0  NaN   9.000000
3  NaN  4.0 -4.0  16.000000

In [9]:
def treat_na_fill(df, select_columns, fill_values):
    for col in select_columns:
        df[col] = df[col].fillna(fill_values[col])
    return df

In [11]:
df = treat_na_fill(df, ['b', 'd'], {'b': 0, 'd': df.d.mean()})
df

     a    b    c          d
0  0.0  0.0 -1.0   1.000000
1  NaN  2.0  NaN   8.666667
2  2.0  3.0  NaN   9.000000
3  NaN  4.0 -4.0  16.000000

In [12]:
def treat_na_drop(df, select_columns):
    for col in select_columns:
        df = df.drop(col, axis=1)
    return df

In [13]:
df = treat_na_drop(df, ['a', 'c'])
df

     b          d
0  0.0   1.000000
1  2.0   8.666667
2  3.0   9.000000
3  4.0  16.000000

In [14]:
assert df.dropna().shape[0] == df.shape[0]

In [ ]:
df = pd.DataFrame([(0.0, np.nan, -1.0, 1.0),
                    (np.nan, 2.0, np.nan, np.nan),
                    (2.0, 3.0, np.nan, 9.0),
                    (np.nan, 4.0, -4.0, 16.0)],
                    columns=list('abcd'))
df

In [17]:
df.pipe(treat_na_fill, ['b', 'd'], {'b': 0, 'd': df.d.mean()}
        ).pipe(treat_na_drop, ['a', 'c'])

     b          d
0  0.0   1.000000
1  2.0   8.666667
2  3.0   9.000000
3  4.0  16.000000