<h1>Tratamento de Datas</h1>

In [39]:
import pandas as pd

In [40]:
df = pd.DataFrame({'dt_compra': {0: '26/1/2016', 1:'5/11/2016'}})
df

   dt_compra
0  26/1/2016
1  5/11/2016

In [41]:
pd.to_datetime(df['dt_compra'], format='%d/%m/%Y')

0   2016-01-26
1   2016-11-05
Name: dt_compra, dtype: datetime64[ns]

In [42]:
df2 = pd.DataFrame({'dt_compra': {0: '26/1/2016', 1:'5/11/2016'}, 'dt_venda': {0: '26/2/16', 1:'9/11/16'}})
df2

   dt_compra dt_venda
0  26/1/2016  26/2/16
1  5/11/2016  9/11/16

In [43]:
df2['dt_compra'] = pd.to_datetime(df2['dt_compra'], format='%d/%m/%Y')

In [44]:
df2['dt_venda'] = pd.to_datetime(df2['dt_venda'].astype(str), format='%d/%m/%y')

In [45]:
df2

   dt_compra   dt_venda
0 2016-01-26 2016-02-26
1 2016-11-05 2016-11-09

In [46]:
df2['qtda_dias'] = (df2.dt_venda - df2.dt_compra)
df2.qtda_dias

0   31 days
1    4 days
Name: qtda_dias, dtype: timedelta64[ns]

In [47]:
df2.qtda_dias.map(lambda x: x.components.days)

0    31
1     4
Name: qtda_dias, dtype: int64