<h1>Tratamento de Nulos</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([(0.0, np.nan, -1.0, 1.0),
                   (np.nan, 2.0, np.nan, np.nan),
                   (2.0, 3.0, np.nan, 9.0),
                   (np.nan, 4.0, -4.0, 16.0)],
                  columns=list('abcd'))
df

     a    b    c     d
0  0.0  NaN -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

Fill Value

In [3]:
fill_value = df.b.mean()
df.b = df.b.fillna(fill_value)
df

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

Drop

In [4]:
df.dropna(subset=['a'])

     a    b    c    d
0  0.0  3.0 -1.0  1.0
2  2.0  3.0  NaN  9.0

Interpolate

In [5]:
df.interpolate(method='linear', limit_direction='forward', axis=0)

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  1.0  2.0 -2.0   5.0
2  2.0  3.0 -3.0   9.0
3  2.0  4.0 -4.0  16.0

Forward/Backward Filling

In [6]:
df

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [7]:
#method={'backfill', 'bfill', 'pad', 'ffill'}
df.fillna(method='bfill')

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  2.0  2.0 -4.0   9.0
2  2.0  3.0 -4.0   9.0
3  NaN  4.0 -4.0  16.0

In [8]:
df.fillna(method='ffill')

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  0.0  2.0 -1.0   1.0
2  2.0  3.0 -1.0   9.0
3  2.0  4.0 -4.0  16.0